@font-face {
  font-family: "Product Sans";
  font-weight: 400;
  src: url("./assets/fonts/Product-Sans/Product Sans Regular.ttf");
}

@font-face {
  font-family: "Product Sans";
  font-weight: 900;
  src: url("./assets/fonts/Product-Sans/Product Sans Bold.ttf");
}

@font-face {
  font-family: "GT";
  src: url("./assets/fonts/GT-Font/GT-Super-Display-Super.ttf");
}

body {
  margin: 0;
  font-family: "Product Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
